.page-control-button {
  width: 100px;
  height: 75%;
  background-color: hsl(30 40% 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: Sans-Serif;
  color: hsl(30 70% 12.5%);
  outline: none;
  border-left: none;
}