.info-block {
  width: 20%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 9px 9px 0;
}

.info-block > p {
  font-size: 22px;
  font-weight: 500;
}