.board-page-control {
  position: absolute;
  width: 80vw;
  height: 50px;
  border-radius: 14px;
  background-color: hsl(25 40% 37.5%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 750;
  opacity: 0.6;
  transition: left 0.2s ease, top 0.2s ease;
  overflow-x: auto;
  border: 3px solid hsl(30 35% 47.5%);
  user-select: none;
}
.board-page-control > button:not(:last-child) {
  border-right: solid 2.5px  hsl(25 40% 30%);
}
.board-page-control > button:first-child {
  border-radius: 12px 0 0 12px;
}
.board-page-control > button:last-child {
  border-radius: 0 12px 12px 0;
}