.notice-board {
  position: relative;
  height: 75%;
  aspect-ratio: 12 / 9;
  background-color: hsl(35 42.5% 52.5%);
  border: solid 6px hsl(35 50% 42.5%);
  border-radius: 22px;
  min-height: 300px;
}


@media (min-width: 540px) {
  .notice-board {
    aspect-ratio: 14 / 9;
  }
}