.board-button {
  height: 100%;
  aspect-ratio: 4/3;
  background-color: hsl(0 40% 50%);
}

@media (min-width: 460px) {
  .board-button {
    aspect-ratio: 5/3;
  }
}

@media (min-width: 820px) {
  .board-button {
    aspect-ratio: 6/3;
  }
}

@media (min-width: 1024px) {
  .board-button {
    aspect-ratio: 7/3;
  }
}