.block-entry {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: hsl(240 30% 60%);
  display: flex;
  border: solid 2px hsl(240 30% 45%);
  color: hsl(240 30% 25%);
  font-family: Sans-Serif;
  user-select: none;
}