.block-entry {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  background-color: hsl(32.5 40% 62.5%);
  display: flex;
  border: solid 2.5px hsl(32.5 35% 45%);
  color: hsl(32.5 30% 25%);
  font-family: Sans-Serif;
  user-select: none;
}