.index-block {
  width: 7.5%;
  height: 100%;
  background: transparent;
  border-right: solid 2.5px hsl(32.5 30% 45%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px 0 0 9px;
}

.index-block > b {
  font-size: clamp(16px, 125%, 38px);
}