.notice-board-contents {
  position: relative;
  width: 100%;
  height: calc(100% - clamp(55px, 5%, 100px));
  border-radius: 0 0 16px 16px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 10px;
}
.notice-board-contents > div:not(:last-child) {
  margin-bottom: 8px;
}