.subject-block {
  width: 52.5%;
  height: 100%;
  background: transparent;
  border-right: solid 2.5px hsl(32.5 30% 45%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.subject-block > p {
  font-size: 22px;
  font-weight: 500;
}