.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  background-color: orange;
}
.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
}

@media (min-width: 460px) {
  .header {
    height: 55px;
  }
  .title {
    font-size: 40px;
  }
}

@media (min-width: 820px) {
  .header {
    height: 65px;
  }
  .title {
    font-size: 46px;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 75px;
  }
  .title {
    font-size: 50px;
  }
}