.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(-10deg ,hsl(40 5% 65%), hsl(45, 5%, 55%));
  overflow: hidden;
}
.header > h1 {
  position: absolute;
  user-select: none;
  pointer-events: none;
  color: hsl(0 0% 35%);
}

@media (min-width: 460px) {
  .header {
    height: 55px;
  }
  .header > h1 {
    font-size: 40px;
  }
}

@media (min-width: 820px) {
  .header {
    height: 65px;
  }
  .header > h1 {
    font-size: 46px;
  }
}

@media (min-width: 1024px) {
  .header {
    height: 75px;
  }
  .header > h1 {
    font-size: 50px;
  }
}