.navigation {
  position: relative;
  display: flex;
  width: 100%;
  left: 0;
  height: 50px;
  background-color: hsl(110 40% 50%);
  justify-content: center;
  align-items: center;
}
.container {
  width: 95%;
  height: 90%;
  display: flex;
  justify-content: center;
  column-gap: clamp(5px, 5%, 35px);
}
.container > button {
  border-radius: 12px;
}

@media (min-width: 460px) {
  .navigation {
    height: 55px;
  }
}

@media (min-width: 820px) {
  .navigation {
    height: 65px;
  }
}

@media (min-width: 1024px) {
  .navigation {
    height: 70px;
  }
}
@media (min-width: 1230px) {
  .navigation {
    height: 80px;
  }
}