.main {
  position: relative;
  display: flex;
  /* Центрирование через margin: auto у ребенка работает лучше для переполнения */
  justify-content: center; 
  align-items: center;
  
  width: 100%;
  /* Вычитаем высоту шапки/футера, если нужно */
  height: calc(100vh - 95px); 
  background-color: yellow;
  
  /* Разрешаем скролл в обе стороны */
  overflow: auto; 
  padding: 25px; /* Те самые отступы вокруг доски */
  box-sizing: border-box;
}
